$color-white:		#ffffff;
$color-black:		#000000;

$color-gray-98:		#fafafa; // elements light background
$color-gray-95:		#f2f2f0; // menu - background
$color-gray-90:		#eeeeee; // every elements border

$color-blue-80:		#e6e6e6; // nav, menu, pagination - button border
$color-blue-60:		#d3d3d4; // nav, menu, pagination - button font

$color-blue-30:		#bbbdbe;
$color-blue-15:		#aaabaf;

$color-yellow-100:	#ffc336;
$color-red-95:		#f26a3d;

$color-social-twitter:		#3ea9dd;
$color-social-facebook:		#3c5a98;
$color-social-googleplus:	#d14836;

$primary-color: $color-red-95; // define primary color

$color-bg:      #161616;
$color-bg-alt:				#1f1f1f;